body{
  background-color: rgb(228, 228, 228);
}
.game-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.puzzle-pieces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 400px; /* Adjust based on 5 pieces * width + margin */
}
.controls-target-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
#div10, #div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18 {
  width: 74px;
  height: 74px;
  border: 1px solid black;
}
.puzzle-box {
  float: left;
  width: 74px;
  height: 74px;
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
}
.controls, .target-puzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .controls {
  flex-grow: 1;
}
.target-puzzle {
  flex-grow:10;
} */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.target-puzzle {
  display: flex;
  justify-content: center;
}

.target-puzzle table {
  border-collapse: collapse;
}

.timer, #hintButton {
  margin: 10px 0;
}

#hintButton {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 12px 25px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.4s;
}
#hintButton:hover {
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#hintImageContainer {
  margin: auto;
}